<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6">
      <h1><%= @title %></h1>
    </div>
    <div class="col-lg-6">
      <%= link_to 'Upload a Picture', new_picture_path, class: 'btn btn-danger pull-right pb-upload-pic' %>
    </div>
  </div>
</div>
<div id="pb-bucket" class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="well picture-well">
        <%= hidden_field_tag "scrollable-url", "?min_photo_id=#{@pictures.last.id}" %>
        <div class="pb-pictures-container">
          <%= render 'pictures' %>
        </div>
        <div class="clearfix"></div>
        <%= will_paginate(@pictures) %>
      </div>
    </div>
  </div>
</div>